<div class="footer">
  <p>Made by <a href="../index.html">TextEditUser</a></p>
  <br>
  <p>uh btw if the font size is animated when you load the page... that only happens sometimes?? I don't know how to troubleshoot it.</p>
</div>