<!DOCTYPE html>
<html>
  <head>
    <title>Index page</title>
    <link rel="stylesheet" href="/css/s.css">
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
    <%- include('content.ejs') %>
    <%- include('footer.ejs') %>
  </body>
</html>
<!-- nodemon test !-->