<!DOCTYPE html>
<html>
<head>
	<title>number</title>
	<link rel="stylesheet" href="/css/number.css">
</head>
<body>
	<h1><%= reply %></h1> <!-- reply varible is passed from index.js and renderd in place server side at runtime!-->
</body>
</html>

<!-- hello can i push this???? !-->