<!DOCTYPE html>
<html>
<head>
	<title>awesome</title>
	<link rel="stylesheet" href="css/socket.css">
</head>
<body>
	<ul id="chat"></ul>
	<div class="buttons">
		<div id="invalid"></div>
		<input type="text" class="form-control" id="field" placeholder="Username">
		<button class="btn btn-warning" type="button" id="btn">submit</button>
		<div id="invalidM"></div>
		<input type="text" class="form-control" id="message" placeholder="Message">
		<button class="btn btn-warning" type="button" id="btnMessage">submit</button>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/socketpage_v2.js"></script>
</body>
</html>