<!DOCTYPE html>
<html>
<head>
	<title>awesome</title>
</head>
<body>
	<p>yeah</p>
	<button class="btn btn-warning" type="button" id="btn">yo</button>
	<input type="text" class="form-control" id="username" placeholder="Change your username">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/socketpage.js"></script>
</body>
</html>