<!DOCTYPE html>
<html>
<head>
	<title>number</title>
	<link rel="stylesheet" href="/css/number.css">
	<style>
    	body {background-image: url(<%= imag %>); background-size: cover; background-repeat: no-repeat;} /* took me a long time to know i had to put that in url() */
    </style>
</head>
<body>
	<p><%= imag %></p>
</body>
</html>

<!-- hello can i push this???? !-->